<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
<div class="container">
    <div class="header">
        <div class="main_menu">{% include 'navigation.html' %}</div>
    </div>
    <div class="taskbar">{% block taskbar %}{% endblock %}</div>
    <div id="content">{% block content %}{% endblock %}</div>
</div>
<div id="footer">
    {% block footer %}
        <div class="panel-footer-1">
            <section>
                <div class="textwidget">
                    <a href="">Data Security</a> -
                    <a href="">Terms of Service</a> -
                    <a href="">Privacy Policy</a> &nbsp; &nbsp; &copy; Copyright 2016
                </div>
            </section>
        </div>
    {% endblock %}
</div>
</body>
</html>